# Build output and generated types (recreated by `astro dev`/`astro build`)
dist/
.astro/

# Node
node_modules/
*.log

# Env
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
